img {
    width: 100%;
    height: 100%;
}

.hero {
    text-align: left;
}

.bg-mint {
    background-color: #e7fbf7;
}

.hero .form-control:focus {
    box-shadow: none;
}

.how-it-works .hiw-icon {
    width: 56px;
    height: 56px;
    font-size: 1.5rem;
}



@media (width < 990px) {
    .hero h1 {
        text-align: center;
    }

    .hero p {
        text-align: center;
    }

    .hero-search div {
        margin: 0px auto;
    }
}



@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.hero h1 {
    animation: fadeSlide 1s ease-out forwards;
}
.hero p {
    animation: fadeSlide 1.5s ease-out forwards;
}

.hero-search {
    animation: fadeSlide 2s ease-out forwards;

}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.hero img {
    animation: fadeInUp 2s ease-out forwards;
}
