.contact-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-grow: 1;
}

.contact-us-content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    /* Horizontal centering */
    padding: 2rem;
}