
/*==================================================================================*/
/*            Start Footer                                                         */
/*==================================================================================*/

.footer {
    background-color: #fff;
    font-size: 0.85rem;
    color: #2b2b33;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.footer a {
    color: #2b2b33;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #018a83;
}

/*==================================================================================*/
/*            End Footer                                                         */
/*==================================================================================*/

