.navbar {
    background-color: #fff;
    height: 56px;
    padding: 0.5rem;
}
.logo-text {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 700;
    color: #018a83;

}
.navbar-brand {/*Logo Customization, Yet to ADD*/}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler-icon {
    filter: invert(40%) sepia(80%) saturate(400%) hue-rotate(130deg);
}

.nav-link {
    color: #2b2b33;
    font-weight: 500;
    font-size: 0.8rem;

    position: relative;
}


.logo-text:hover,
.logo-text.active
{
    color: #2b2b33;
}
.nav-link:hover,
.nav-link.active
{
    color: #000;
    font-weight: 520;
}

#MyAccBtn {
    background-color: #fff;
    color: #2b2b33;
    border: 1px solid #2b2b33;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 5px 12px;
    text-decoration: none;
    transition: 0.3s background-color;
}
#MyAccBtn:hover {
    color: #fff;
    background-color: #018a83;
    border: none;
}
#MyAccBtn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(1, 138, 131, 0.5);
}
@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #018a83;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
@media (max-width: 991px) {
    .navbar-collapse {
        background: #fff;
        padding: 1rem;
        border-top: 1px solid #ddd;
    }

    .navbar-nav .nav-link {
        padding: 0.5rem 0;
    }
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 18%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #018a83;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before,
    .nav-link.active::before {
        width: 35%;
        visibility: visible;
    }
    #MyAccountBtn {
        margin-top: 1rem;
        margin-left: 0;
    }
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item.active {
    background-color: #018a83;
    color: #fff;
}


