* {
    scroll-behavior: smooth;
}
/*====================================================================================
/*         Start Centersc Page Styles
/*====================================================================================*/


/* Filters */
.filters {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.filters .dropdown select,
.filters button {
    height: 42px;
    box-sizing: border-box;
    padding: 0 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #DEE1E6;
}

.filters button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #018a83;
    color: white;
    border: none;
    margin: 12px 0;
}

.filters button:hover {
    background: #016f6a;
}
.filters .btn-custom:active {
    background: #016f6a;
}

.centers-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

/* Headings */
.centers-page h3 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #2b2b33;

}
.centers-page p {
    font-size: 0.9rem;
    color: #555;
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.7;
}


/* Cards */
.centers-page .card {
    margin: 15px auto;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0,0,0,0.06);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.centers-page .card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 24px rgba(0,0,0,0.12);
}

.centers-page .card img {
    height: 160px;
    object-fit: cover;
}

.centers-page .card-body {
    padding: 1.5rem;
}

.centers-page .card-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2b2b33;
    margin-bottom: 0.5rem;
    text-align: left;
}

.centers-page .card-text {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
    line-height: 1.4;
    text-align: left;
}

/* Buttons inside cards */
.card .btn {
    border-radius: 8px;
    margin-top: 12px;
    font-size: 0.85rem;
    font-weight: 500;
    transition: background 0.3s ease;
    width: 100%;
}

.card .main {
    padding: 10px 16px;

}

.card .btn-primary {
    background: #018a83;
    border: none;
}

.card .btn-primary:hover {
    background: #016f6a;
}

.card .content .extra {
    width: fit-content;
    font-size: 12px;
    background-color: #e06500;
    border-radius: 9999px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
}
.card .content {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: flex-start;
}


/*====================================================================================
/*         End Centers Styles
/*====================================================================================*/




