*{
margin: 0;
padding: 0;
outline: 0;
appearance: none;
border: 0;
text-decoration: none;
list-style: none;
 scroll-behavior: smooth;
box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Open Sans', sans-serif;
width: 100vw;
height: 100vh;
font-size: 0.90rem;
background-color: white ;
user-select: none;
overflow-x: hidden; 
font-weight: 600;
}


.container {
display: flex;
flex-direction: column;
}

header{
display: flex;
flex-direction: column;

}

header h2{

padding-top: 1rem;
}

.text-muted{
color: rgb(79, 75, 75);
font-weight: 600;
display: flex;
margin-top: 1rem;
margin-bottom: 1.7rem;

}

 main {
/* margin-left: 10%; */
display: flex;
flex-direction: column;
} 

.btn-coloro{
  background-color: #008C8C; 
  color: white;
}
.btn-coloro2{
   color: rgb(54, 52, 52);
}
.coloro{
    background-color: #008C8C; 
  color: white;
}

.progress-bar {
  background-color: #008C8C;
  height: 100%;
  width: 25%; 
  border-radius: 10px;
  transition: width 0.5s ease; 
}

button:hover {
  background-color: #042a23; 
  color: white;
}

.back-img i {
  border-radius: 50%;
  width:20px;   
  height: 20px;  
  color: white; 
  font-size: 1rem; 
  position: absolute;
  left: 23%;
  top: 15%;
}

.achieveBack{
  background-color:#e58611;
  border-radius: 50%;
    width:30px;   
  height: 30px;  
  position: relative;
  color: white;
}

.achieveBack i {
  border-radius: 50%; 
    position: absolute;
  left:23%;
  top: 16%;
  color: #fff;
  font-size: 0.5rem;
}


.back-img {
  width: 30px;
  height: 30px;
  background-color: #008C8C; 
  border-radius: 50%;
position: relative;
} 

header{
  width: 100%;
}






.MuiStepIcon-root {
font-weight: 800 !important;
  background-color: #ccc !important; 
  color: #008C8C !important;         
  border-radius: 50%;

}
.my-step-label .MuiStepLabel-label {
  font-size: 14px !important;
}


.MuiStepIcon-root.Mui-active {
  background-color: #015454; 
  color: white;
}

.MuiStepIcon-root.Mui-completed {
  background-color: white !important; 
  color: #036f6f !important;
}
.desc {
  font-size: 1.3rem;
}

.btn-hov:hover {
  background-color: #027070;
  color:white;
}
.btn-c:hover{
    background-color: #027070;
  color:white;
}